[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pycaw = "*"
websockets = "*"
ptpython = "*"
pywin32 = "*"
pefile = "*"
python-socketio = "*"
aiohttp = "*"
pyqrcode = "*"
pypng = "*"

[dev-packages]
flake8 = "*"
yapf = "*"
mypy = "*"
pyinstaller = "*"

[requires]
python_version = "3.9"

[scripts]
build = 'python -O -m PyInstaller --noconfirm --version-file ./main_module.version.txt --hidden-import=engineio.async_drivers.aiohttp ./main_module.py'
start = 'python main_module.py'
start_built = 'start ./dist/main_module/main_module.exe'
